body{
  text-align: center;
}
.comf_table{
  overflow: auto;
  height:700px; 
  width:700px;
}
table {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  color: black;
  font-size: 12px;
  table-layout: fixed;
  text-align: right;
  padding: 0.4em;
}
thead {
  border-bottom: 1px solid black;
  vertical-align: bottom;
}
tbody tr:nth-child(odd) {
  background: #f5f5f5;
}
tr, th, td {
  text-align: right;
  vertical-align: middle;
  padding: 0.5em 0.5em;
  line-height: normal;
  white-space: nowrap;
  max-width: none;
  border: none;
}
td{
  white-space: nowrap;
}
th {
  font-weight: bold;
  position: sticky;
  top: 0;
  left: 0;
}
