<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>DataFrameをブラウザ上で表示</title>
<link rel="stylesheet" href="../static/css/table.css"> 
</head>
<body>
	<div class="wrapper">
	    <aside class="sidebar">
			<div class="widget widget--sticky">
				<a href="/">初期条件（初期化）</a><br>
				<a href="/history_tree">履歴とツリー</a><br>
				<a href="/just_display">出力予想図</a><br>
				<a href="/display_extension">拡張機能</a><br>
				
			</div>
		</aside>
		<main class="main">
			{% block content %}
			<!-- ここにメインコンテンツを書く -->
			{% endblock %}
		</main>
	</div>
</body>
</html>