{% extends "history_trees.html" %}
{% block tree %}
<li>
 <div style="display: flex;border: 2px solid; width:560px; padding: 0px 0px; margin: 10px 0px">
    <div style =" width: 40px; vertical-align: middle; text-align: center;">
       <div style="border: 2px background: green;">
          <font size="3"> 8 </font><br>
       </div>
       <form action="/export_dummy_by_number" method="POST">
         <input type="image" name ="df_num" value=8 src="../static/images/download-icon.jpg" style="border: double;" height="30"/>
       </form>
    </div>
    <img src="static/figure/d_copied_dummy/8/age.png" width = "150" style="padding: 7px 10px 0px;">
    <img src="static/figure/d_copied_dummy/8/blood.png" width = "150" style="padding: 7px 10px 0px;">
    <img src="static/figure/d_copied_dummy/8/sex.png" width = "150" style="padding: 7px 10px 0px;">
 </div>
 <ul>
  <li>
   <div style="display: flex;border: 2px solid; width:560px; padding: 0px 0px; margin: 10px 0px">
      <div style =" width: 40px; vertical-align: middle; text-align: center;">
         <div style="border: 2px background: green;">
            <font size="3"> 7 </font><br>
            <font size="1">-------</font><br>
            {{ cl_list_data_ratio.7.6 }}
         </div>
         <form action="/export_dummy_by_number" method="POST">
           <input type="image" name ="df_num" value=7 src="../static/images/download-icon.jpg" style="border: double;" height="30"/>
         </form>
      </div>
      <img src="static/figure/d_copied_dummy/7/age.png" width = "150" style="padding: 7px 10px 0px;">
      <img src="static/figure/d_copied_dummy/7/blood.png" width = "150" style="padding: 7px 10px 0px;">
      <img src="static/figure/d_copied_dummy/7/sex.png" width = "150" style="padding: 7px 10px 0px;">
   </div>
   <ul>
    <li>
     <div style="display: flex;border: 2px solid; width:560px; padding: 0px 0px; margin: 10px 0px">
        <div style =" width: 40px; vertical-align: middle; text-align: center;">
           <div style="border: 2px background: green;">
              <font size="3"> 5 </font><br>
              <font size="1">-------</font><br>
              {{ cl_list_data_ratio.6.4 }}
           </div>
           <form action="/export_dummy_by_number" method="POST">
             <input type="image" name ="df_num" value=5 src="../static/images/download-icon.jpg" style="border: double;" height="30"/>
           </form>
        </div>
        <img src="static/figure/d_copied_dummy/5/age.png" width = "150" style="padding: 7px 10px 0px;">
        <img src="static/figure/d_copied_dummy/5/blood.png" width = "150" style="padding: 7px 10px 0px;">
        <img src="static/figure/d_copied_dummy/5/sex.png" width = "150" style="padding: 7px 10px 0px;">
     </div>
    </li>
    <li>
     <div style="display: flex;border: 2px solid; width:560px; padding: 0px 0px; margin: 10px 0px">
        <div style =" width: 40px; vertical-align: middle; text-align: center;">
           <div style="border: 2px background: green;">
              <font size="3"> 4 </font><br>
              <font size="1">-------</font><br>
              {{ cl_list_data_ratio.6.3 }}
           </div>
           <form action="/export_dummy_by_number" method="POST">
             <input type="image" name ="df_num" value=4 src="../static/images/download-icon.jpg" style="border: double;" height="30"/>
           </form>
        </div>
        <img src="static/figure/d_copied_dummy/4/age.png" width = "150" style="padding: 7px 10px 0px;">
        <img src="static/figure/d_copied_dummy/4/blood.png" width = "150" style="padding: 7px 10px 0px;">
        <img src="static/figure/d_copied_dummy/4/sex.png" width = "150" style="padding: 7px 10px 0px;">
     </div>
    </li>
   </ul>
  </li>
  <li>
   <div style="display: flex;border: 2px solid; width:560px; padding: 0px 0px; margin: 10px 0px">
      <div style =" width: 40px; vertical-align: middle; text-align: center;">
         <div style="border: 2px background: green;">
            <font size="3"> 6 </font><br>
            <font size="1">-------</font><br>
            {{ cl_list_data_ratio.7.5 }}
         </div>
         <form action="/export_dummy_by_number" method="POST">
           <input type="image" name ="df_num" value=6 src="../static/images/download-icon.jpg" style="border: double;" height="30"/>
         </form>
      </div>
      <img src="static/figure/d_copied_dummy/6/age.png" width = "150" style="padding: 7px 10px 0px;">
      <img src="static/figure/d_copied_dummy/6/blood.png" width = "150" style="padding: 7px 10px 0px;">
      <img src="static/figure/d_copied_dummy/6/sex.png" width = "150" style="padding: 7px 10px 0px;">
   </div>
  </li>
  <li>
   <div style="display: flex;border: 2px solid; width:560px; padding: 0px 0px; margin: 10px 0px">
      <div style =" width: 40px; vertical-align: middle; text-align: center;">
         <div style="border: 2px background: green;">
            <font size="3"> 3 </font><br>
            <font size="1">-------</font><br>
            {{ cl_list_data_ratio.7.2 }}
         </div>
         <form action="/export_dummy_by_number" method="POST">
           <input type="image" name ="df_num" value=3 src="../static/images/download-icon.jpg" style="border: double;" height="30"/>
         </form>
      </div>
      <img src="static/figure/d_copied_dummy/3/age.png" width = "150" style="padding: 7px 10px 0px;">
      <img src="static/figure/d_copied_dummy/3/blood.png" width = "150" style="padding: 7px 10px 0px;">
      <img src="static/figure/d_copied_dummy/3/sex.png" width = "150" style="padding: 7px 10px 0px;">
   </div>
   <ul>
    <li>
     <div style="display: flex;border: 2px solid; width:560px; padding: 0px 0px; margin: 10px 0px">
        <div style =" width: 40px; vertical-align: middle; text-align: center;">
           <div style="border: 2px background: green;">
              <font size="3"> 2 </font><br>
              <font size="1">-------</font><br>
              {{ cl_list_data_ratio.2.1 }}
           </div>
           <form action="/export_dummy_by_number" method="POST">
             <input type="image" name ="df_num" value=2 src="../static/images/download-icon.jpg" style="border: double;" height="30"/>
           </form>
        </div>
        <img src="static/figure/d_copied_dummy/2/age.png" width = "150" style="padding: 7px 10px 0px;">
        <img src="static/figure/d_copied_dummy/2/blood.png" width = "150" style="padding: 7px 10px 0px;">
        <img src="static/figure/d_copied_dummy/2/sex.png" width = "150" style="padding: 7px 10px 0px;">
     </div>
    </li>
    <li>
     <div style="display: flex;border: 2px solid; width:560px; padding: 0px 0px; margin: 10px 0px">
        <div style =" width: 40px; vertical-align: middle; text-align: center;">
           <div style="border: 2px background: green;">
              <font size="3"> 1 </font><br>
              <font size="1">-------</font><br>
              {{ cl_list_data_ratio.2.0 }}
           </div>
           <form action="/export_dummy_by_number" method="POST">
             <input type="image" name ="df_num" value=1 src="../static/images/download-icon.jpg" style="border: double;" height="30"/>
           </form>
        </div>
        <img src="static/figure/d_copied_dummy/1/age.png" width = "150" style="padding: 7px 10px 0px;">
        <img src="static/figure/d_copied_dummy/1/blood.png" width = "150" style="padding: 7px 10px 0px;">
        <img src="static/figure/d_copied_dummy/1/sex.png" width = "150" style="padding: 7px 10px 0px;">
     </div>
    </li>
   </ul>
  </li>
 </ul>
</li>

{% endblock %}